<library path="src">
  <class name="JointStatePlot" type="rqt_joint_state_plot.plugin.JointStatePlot" base_class_type="rqt_gui_py::Plugin">
    <description>
      A plugin visualizing the JointTrajectory message in 2D plot.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>Joint State Plot</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip>
      A plugin visualizing the Joint State message in 2D plot.
      </statustip>
    </qtgui>
  </class>
</library>
